{% extends "base.html" %}

{% block content %}
<div class="article-entry">
	<h2>{{ article.title }}</h2>
	<p>by {{ article.author }} | {{ article.date }}</p>
	<p>{{ article.body }}</p>
</div>
<div class="">
	{% if article.author.pk == request.user.pk %}
	<p>
		<a href="{% url 'article_edit' article.pk %}">Edit</a>
		<a href="{% url 'article_delete' article.pk %}">Delete</a>
	</p>
	{% endif %}
	<div class="cord-footer">
		{% for comment in article.comment_set.all %}
		<p>
			<span class="fw-bold">{{ comment.author }} &middot;</span>
			{{ comment }}
		</p>
		{% endfor %}
	</div>
	<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
</div>
{% endblock content %}